.idea/
HF1/*.xcf
HF2/node_modules
HF2/xk5iv8-HF2.zip
HF3/node_modules
HF3/xk5iv8-HF3.zip
HF4/node_modules
HF4/xk5iv8-HF4.zip
HF5/node_modules
HF5/xk5iv8-HF5.zip
HF7/node_modules
cocktails.xcf
initDB.bat
mintahazi2016tavasz-hazi3.zip
plan.txt
whitetail4.jpg
